* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydark: hsl(179, 100%, 13%);
  --white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --big-shoulder: "Big Shoulders Display", cursive;
  --lexa: "Lexend Deca", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Very-light-gray);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 100vh;
}

.container {
  width: 920px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  margin-top: 150px;
}
.sedan {
  background-color: var(--Brightorange);
}
.suv {
  background-color: var(--Darkcyan);
}
.luxury {
  background-color: var(--Verydark);
  padding: 40px 20px 50px 50px;
}
.sedan,
.suv,
.luxury {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sedan,
.suv {
  padding: 40px 60px 50px 50px;
}
img {
  height: 40px;
  width: 65px;
}

h1 {
  text-transform: uppercase;
  font-family: var(--big-shoulder);
  font-size: 45px;
}
h1,
p {
  color: var(--Very-light-gray);
  margin-top: 40px;
}
P {
  font-family: var(--lexa);
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
}

.btn {
  margin-top: 60px;
  height: 40px;
  width: 150px;
  background-color: var(--Very-light-gray);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
}
.btn__sedan {
  color: var(--Brightorange);
}
.btn__suv {
  color: var(--Darkcyan);
}
.btn__luxury {
  color: var(--Verydark);
}
.btn:hover {
  cursor: pointer;
  color: var(--Very-light-gray);
  background-color: transparent;
  border: 3px solid var(--Very-light-gray);
  font-size: 15px;
}

.attribution {
  margin-top: 50px;
  color: var(--Darkcyan);
  font-family: var(--montserrat);
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--Brightorange);
}

@media (max-width: 600px) {
  .container {
    grid-template-rows: repeat(3, 1fr);
    margin-top: 50px;
    margin-left: 50px;
  }
  .suv {
    grid-row: 2;
  }
  .luxury {
    grid-row: 3;
  }
  .attribution {
    display: block;
  }
} ;
