* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydark: hsl(179, 100%, 13%);
  --white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);

  --big-shoulder: "Big Shoulders Display", cursive;
  --lexa: "Lexend Deca", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

body {
  background-color: var(--Very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 920px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-self: center;
  border-radius: 15px;
  overflow: hidden;
}
.sedan {
  background-color: var(--Brightorange);
}
.suv {
  background-color: var(--Darkcyan);
}
.luxury {
  background-color: var(--Verydark);
  padding: 2.5rem 70px 3.125rem 3.125rem;
}
.sedan,
.suv,
.luxury {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sedan,
.suv {
  padding: 2.5rem 3.75rem 3.125rem 3.125rem;
}
img {
  height: 2.5rem;
  width: 4.0625rem;
}

h1 {
  text-transform: uppercase;
  font-family: var(--big-shoulder);
  font-size: 2.8125rem;
}
h1,
p {
  color: var(--Very-light-gray);
  margin-top: 2.5rem;
}
P {
  font-family: var(--lexa);
  line-height: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: 400;
}

.btn {
  margin-top: 3.75rem;
  height: 2.5rem;
  width: 9.375rem;
  background-color: var(--Very-light-gray);
  border: none;
  border-radius: 30px;
  font-size: 0.9375rem;
  font-weight: 400;
}
.btn__sedan {
  color: var(--Brightorange);
}
.btn__suv {
  color: var(--Darkcyan);
}
.btn__luxury {
  color: var(--Verydark);
}
.btn:hover {
  cursor: pointer;
  color: var(--Very-light-gray);
  background-color: transparent;
  border: 2px solid var(--Very-light-gray);
  font-size: 0.9375rem;
}

.attribution {
  margin-top: 50px;
  color: var(--Darkcyan);
  font-family: var(--montserrat);
  font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--Brightorange);
}

@media (max-width: 600px) {
  body {
    height: 1500px;
  }
  .container {
    /* grid-template-columns: 1fr; */
    grid-template-columns: 1fr;
    height: 1200px;
    max-width: 350px;
    margin-top: 20px;
    margin-left: 20px;
  }
} ;
